body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
    background-color: #f4f4f4;
}

h1, h2 {
    color: #333;
}

section {
    margin-bottom: 20px;
    background: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    border: 1px solid #cfcfcf;
    padding: 8px;
}

table th {
    background-color: #c4d5e7;
    color: rgb(0, 0, 0);
    width: 25%;
}

footer {
    text-align: center;
    margin-top: 20px;
}